

.profile-navbar-div{
    position: absolute;
    border: 3px solid #2a2a2a;
    border-radius: 5px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-weight: 600;
    color: white;
    padding: 20px 10px;
    font-size: 12px;
    font-weight: 600;
    /* background: #91C8E4; */
    background: url("https://i.ibb.co/mC7PwGh/Banner-img.jpg")right fixed no-repeat;
    width: 100px;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
.profile-navbar-div ul li{
    margin: 40px 0;
    position: relative;
    height: 60px;
    /* width: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-navbar-div ul li a{
    transition: all 0.3s ease;
}
.profile-navbar-div ul li a:hover{
    color: crimson;
}

.menu-outer-span{
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 0.1s ease; */
}
.menu-inner-span{
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 0.1s ease; */
}
.menu-inner-span img{
    border-radius: 50%;
}

.active .menu-outer-span{
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    width:  80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.active .menu-text{
    position: absolute;
    left: 90px;
    color: #2a2a2a;
}
.special-radius img{
    background: #4BD698;
    border-radius: 50%;
}
.special-radius2 img{
    background: orange;
    padding: 5px;
    border-radius: 50%;
}
.active .special-radius img{
    background: white;
    border-radius: 50%;
}
.active .special-radius2 img{
    background: white;
    padding: 0px;
    border-radius: 50%;
}
.active .menu-inner-span{
    border: 2px solid grey;
    border-radius: 50%;
    width:  60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: crimson; */
}
.menu-inner-span img{
    width: 60%;
}
.menu-text{
    /* transition: all 0.1s ease; */
}