

.profile-navbar-div{
    position: absolute;
    border: 2px solid slategray;
    border-radius: 5px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-weight: 600;
    color: slategray;
    padding: 20px 10px;
    font-size: 16px;
    background: #c6dce5;
}
.profile-navbar-div ul li{
    margin: 40px 0;
    position: relative;
    /* border: 2px solid ; */
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-outer-span{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}
.menu-inner-span{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

.menu-active .menu-outer-span{
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    width:  80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.menu-active .menu-inner-span{
    border: 2px solid grey;
    border-radius: 50%;
    width:  60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c6dce5;
}
.menu-inner-span img{
    width: 60%;
}
.menu-text{
    transition: all 0.8s ease;
}
.menu-active .menu-text{
    position: absolute;
    left: 120px;
}