
.signup-div{
    background-image: url('https://i.ibb.co/XS2T0PV/bg-footer.jpg');
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover;
    min-height: 100vh;
}

.disabledButton{
    background: #239df0 !important;
    border: none;
    transition: all 0.8s ease;
}