.menu-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menubar {
    padding: 20px 20px;
    color: white;
}


.menu-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.menu-link ul li {
    cursor: pointer;
}


/* --- Sub Menu --- */
.menu-parent {
    position: relative;
}

.mini-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.mini-menu-dot {
    font-weight: 600;
    font-size: 20px;
    transition: all 0.3s ease;
}

.mini-menu-dot p {
    scale: 0 1;
    transition: all 0.3s ease;
    width: 80px;
    /* border: 1px solid; */
    text-align: center;
}

.menu-parent:hover .mini-menu-dot p {
    scale: 1 1;
}

/* --- Sub Menu --- */
.sub-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 95px;
    border-radius: 5px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.menu-parent:hover .sub-menu{
    top: 35px;
    opacity: 1;
    visibility: visible;
}
.sub-menu div {
    position: relative;
    background: white;
    color: #2a2a2a;
    padding: 25px 5px;
    min-width: 200px;
    text-align: center;
    border-radius: 5px;

}
.profile-submenu{
    min-width: 150px !important;
}

.sub-menu div ul {
    display: flex;
    flex-direction: column;
}

.sub-menu ul li {
    width: 100%;
    transition: all 0.1s;
}
.sub-menu ul a:hover {
    color: #02af80;
}

.mobile-menu-icons{
    display: none;
}

.profile-button{
    border: 2px solid white;
    padding: 3px 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* background: transparent; */
}
.span1{
    transition: all 0.3s ease;
    background: transparent;
}
.span2{
    position: absolute;
    background: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    color: #02af80;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-button:hover .span2{
    top: 0;
    /* z-index: -10; */
}

/*-------------------------------------------------------------------------- 
Media query
---------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    .menu-link ul{
        flex-direction: column;
    }
    .menubar{
        background: rgba(47, 64, 71, 0.94)   ;
        position: fixed;
        border: 3px solid white;
        top: -500px;
        left: 5%;
        right: 5%;
        transition: all 0.3s ease;
        z-index: 50;
    }
    .menubar.active{
        top: 5%;
        bottom: 5%;
    }
    .mobile-menu-icons{
        border: 2px solid white;
        border-radius: 2px;
        position: fixed;
        top:   2%;
        right: 4%;
        transition: all 0.3s ease;
        z-index: 60;
        width: 35px;
        height: 35px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu-icons.active{
        transform: rotate(180deg);
        top:   6%;
        right: 7%;
        scale: 0.9;
        border-radius: 50%;
    }
    .menuImgTwo{
        display: none;
    }
    .mobile-menu-icons.active .menuImgOne{
        /* opacity: 0; */
        display: none;
    }
    .mobile-menu-icons.active .menuImgTwo{
        /* opacity: 0; */
        display: block;
    }
    .mobile-menu-icons img{
        width: 90%;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1024px) {}
