.menu-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menubar {
    padding: 20px 20px;
    color: white;
}


.menu-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.menu-link ul li {
    cursor: pointer;
}


/* --- Sub Menu --- */
.menu-parent {
    position: relative;
}

.mini-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.mini-menu-dot {
    font-weight: 600;
    font-size: 22px;
    transition: all 0.3s ease;
}

.mini-menu-dot p {
    scale: 0 1;
    transition: all 0.3s ease;
}

.menu-parent:hover .mini-menu-dot p {
    scale: 1 1;
}

/* --- Sub Menu --- */
.sub-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 95px;
    border-radius: 5px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}
.menu-parent:hover .sub-menu{
    top: 35px;
    opacity: 1;
    visibility: visible;
}
.sub-menu div {
    position: relative;
    background: white;
    color: #2a2a2a;
    padding: 25px 5px;
    min-width: 200px;
    text-align: center;
    border-radius: 5px;

}

.sub-menu div ul {
    display: flex;
    flex-direction: column;

}

.sub-menu ul li {
    width: 100%;
    transition: all 0.1s;
}
.sub-menu ul li:hover {
    color: #02af80;
}