

.menu-div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.menubar{
    padding: 20px 20px;
    color: white;
}


.menu-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    font-weight: 500;
}