.reviewed-food-div-parent{
    font-family: 'Signika', sans-serif;
}
.vegan-div{
    background-image: url('https://i.ibb.co/nC406hv/home-vegan-hero-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.vegan-card{
    margin: auto;
}
