@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.category-div {
    font-family: 'Signika', sans-serif;
}


.category-card {
    position: relative;
}
.category-card img{
    width: 90%;
    margin: 0 auto;
}
.category-card p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}